* {
    margin: 0;
    padding: 0;
  }

  body {
    overflow: hidden;
  }

  #main-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .info-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .info {
    user-select: none;
    margin: 30px 6vw;
    color: white;
  }

  .score {
    position: absolute;
    font-size: 10vw;
    bottom: 20px;
    right: 0;
  }

  .best-score {
    opacity: 0;
    position: absolute;
    font-size: clamp(20px, 5vw, 50px);
    bottom: 30px;
    left: 0;
  }

  .comment {
    opacity: 0;
    margin-top: 8vh;
    font-size: clamp(20px, 3vw, 50px);
    width: 75vw;
  }

  .quote {
    font-style: italic;
  }

  .author {
    font-size: clamp(15px, 2vw, 50px);
    margin: 0.5em 0;
  }